:root {
  background-color: tan;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

#snapshot-btn {
  background-color: lightgreen;
  width: 125px;
  height: 40px;
  border-radius: 15%;
  border: 2px solid black;
  padding: 10px;
  text-align: center;

  margin: 10px;
}

#snapshot-btn:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(73, 73, 73, 0.5);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(73, 73, 73, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

#canvas {
  display: none;
}
