<!DOCTYPE html>
<html>
  <header>
    <title>Caffeine Detector 2000</title>
    <script
      type="text/javascript"
      src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"
    ></script>
    <link rel="stylesheet" href="../static/css/style.css" />
  </header>

  <body>
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <canvas id="canvas" class="d-none"></canvas>
    <!--<audio id="snapSound" src="audio/snap.wav" preload="auto"></audio> -->

    <div id="snapshot-btn">Take Snapshot</div>

    <script src="../static/js/camera.js"></script>
  </body>
</html>
