<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/nutrition-data.css" />
    <title>Your Data</title>
  </head>
  <body>
    <!-- titles -->
    <h1>Coffee Calculator</h1>
    <h2>Hi User!</h2>
    <!-- end titles -->

    <div class="wrapper">
      <div class="receipt">
        <div class="receipt-header">
          <h3>Your caffeine receipt</h3>
          <p>today's date</p>
        </div>
        <div class="receipt-body"></div>
      </div>
    </div>
  </body>
</html>
