<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/receipt.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>CaffeineCulator | Receipt</title>
  </head>
  <body>
    <a href="{{ url_for('home') }}"><h1>CaffeineCulator</h1></a>
    <div class="receipt_Outer">
      <div class="receipt_Inner">
        <h2 id="tagline" class="fulljustify">Your Caffeine Receipt</h2>
        <p class="right_Align">{{ today }}</p>
        <p class="left_Align">
          Your order: {{ food }} {{ qty }} {{ serving_unit }}
        </p>
        <hr />
        <p style="margin-bottom: 30px" class="left_Align">
          (Caffeine content: {{ caffeine_amt }} mg)
        </p>
        <p class="left_Align">Ideal caffeine amount per day: 400 mg</p>
        <hr />
        <p class="center_Align">
          You can still take {{ amt_you_can_drink }} mg of caffeine!
        </p>
        <a href="{{ url_for('home') }}"
          ><img
            src="../static/icons/Coffee_Aqua.png"
            alt="Coffee Icon"
            class="icon"
        /></a>
      </div>
    </div>
  </body>
</html>
